@charset "utf-8";
/*
Name: Styles for CreativeFest
Description: Mainly used for practice

=====================================
Table of Contents
=====================================
1. Reset
2. Classes
3. Components
	- Header: Bar
	- Header: Main Menu
4. Views
	- Homepage
5. Media Queries
	- 
*/

/* ========================
1. Reset 
=========================*/

html, *, *:before, *:after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Rubik', sans-serif;
}

/* ========================
2. Classes 
=========================*/

.container { width: 100%; max-width: 1440px; margin: 0 auto;}
.flex { display: flex; }
.alignCenter { align-items: center; }
.justifyCenter { justify-content: center; }
.btn { padding: 10px 15px; border-radius: 3px; transition: 0.05s; }
.btn:hover{ background: rgba(255,255,255,0.3); transition: 0.05s; }
.btn.creativeOrange { background: #f59120;}

/* ========================
3. Components 
=========================*/

/*---------------------
| Header: Bar
----------------------*/
#header-bar {
	background: #000;
	position: relative;
	width: 100%;
	padding: 5px;
}
#header-bar img {
	height: 24px;
}
#header-bar .wrapper{
	width: 100%;
	justify-content: space-between;
}
#header-bar a {
	text-decoration: none;
	color: #fff;
}

/*---------------------
| Header: Main Menu 
----------------------*/
#main-menu {
	position: absolute;
	width: 100%;
}
#main-menu .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#main-menu .container nav {
	display: inline-flex;
	align-items: center;
	height: inherit;
	list-style: none;
	margin: 0px 5px;
	max-width: 750px;
	width: 100%;
	justify-content: space-between;
}
#main-menu .container nav a {
	color: #fff;
	text-decoration: none;
	font-weight: 600;
	border-radius: 0;
	transition: 0.2s !important;
}
#main-menu .container nav a.router-link-exact-active {
	margin-bottom: -3px;
	border-bottom: solid 3px #bb1f2d;
}
#main-menu .container nav a.router-link-exact-active.btn.creativeOrange {
	margin-bottom: 2px;
	border-bottom: none !important;
}
#main-menu .container nav a.btn.creativeOrange{
	border-radius: 4px !important;
}
#main-menu #logo img{
	padding: 10px;
	height: 100px;
}
#main-menu #hamburger {
	height: 21px;
	width: 24px;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	transition: 0.3s;
	margin-right: 24px;
}
#main-menu #hamburger.active { transition: 0.3s; }
#main-menu #hamburger span {
	display: block;
	height: 2px;
	width: 100%;
	background: #fff;
	transition: 0.3s;
	transform-origin: right; 
}
#main-menu #hamburger.active span { transition: 0.3s; }
#main-menu #hamburger.active span:nth-child(1) { 
	transform: rotate(-45deg) translate(-2px,-2px);
}
#main-menu #hamburger.active span:nth-child(2) {
	opacity: 0;
}
#main-menu #hamburger.active span:nth-child(3) { 
	transform: rotate(45deg) translate(-3.7px,1px);
}
/*---------------------
| Header: UNICEF 
----------------------*/
#unicef-banner {
	background: #fff;
	padding: 10px 5px;
}
#unicef-banner #exit-wrapper {
	display: flex;
	justify-content: flex-end;
}
#unicef-banner #exit {
	height: 32px;
	width: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: solid 2px #000;
	border-radius: 100px;
	outline: none;
	cursor: pointer;
	background: white;
	font-size: 16px;
	transition: 0.3s;
}
#unicef-banner #exit:hover {
	background-color: rgba(0,0,0,0.05);
	transition: 0.3s;
}
#unicef-banner #unicef-1 {
	display: flex;
}
#unicef-banner .logo{
	height: 21px;
	margin-bottom: 5px;
}
#unicef-banner #unicef-1 h3 {
	font-family: 'Rubik', sans-serif;
	color: #bb1f2d;
	font-weight: 600;
	font-size: 24px;
	text-transform: uppercase;
}
#unicef-banner #unicef-1 p {
	font-size: 14px;
	margin: 10px 0px;
}
#unicef-banner #unicef-1 a.btn {
	background-color: #1cabe3;
	padding: 10px 24px;
	border-radius: 5px;
	text-decoration: none;
	color: #fff;
	display: flex;
	width: fit-content;
}
#unicef-banner #creativeFestBubble {
	padding: 0px 10px;
}

.slide-enter-active, .slide-leave-active  {
  transition: all .1s ease;
}
.slide-enter, .slide-leave-to {
  transform: translateY(-100%);
	opacity: 0;
	
}
/* ========================
4. Views 
=========================*/

/*---------------------
| Homepage
----------------------*/
.home {
	background: #141112;
	height: 200vh;
}

/* ========================
4. Media Breakpoints 
=========================*/

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1439.98px) {
	/*------------------------
		Classes
	------------------------*/
	.container {
		max-width: 1080px;
	}
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
	/* ========================
	2. Classes
	=========================*/
	.container {
		max-width: 768px !important;
	}

	/* ========================
	3. Components
	=========================*/
	#main-menu {
		font-size: 14px;
	}
	#main-menu #logo img {
		height: 75px;
	}
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
	#main-header {
		position: -webkit-sticky;
		position: sticky;
		top: 0;
	}
	#main-menu nav {
		display: none !important;
		flex-direction: column;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		max-width: 320px !important;
		background: rgba(255,255,255,0.3);
	}
	#main-menu nav a {
		margin: 10px 0px !important;
	}
	#main-menu nav.active {
		display: flex !important;
	}
	#hamburger { display: flex !important; }
	#unicef-banner #unicef-1 h3 {
		font-size: 16px;
	}
	#unicef-banner #unicef-1 img {
		display: none;
	}
}
@media (max-width: 575.98px) {

}