<template>
  <header id="main-header">
    <section id="header-bar">
      <div class="container flex alignCenter wrapper">
        <a href="https://4asphilippines.org" class="btn">
          <img src="@/assets/img/logo-white.svg" alt="4AS Philippines" />
        </a>
        <router-link to="/login">Login</router-link>
      </div>
    </section>
    <section id="main-menu">
      <div class="container">
        <router-link to="/" id="logo">
          <img src="@/assets/img/cf.svg" alt="" />
        </router-link>
        <nav v-bind:class="{ active: isActive }">
          <router-link to="/" class="btn">Home</router-link>
          <router-link to="/talks" class="btn">Talks</router-link>
          <router-link to="/schedule" class="btn">Schedule</router-link>
          <router-link to="/speakers" class="btn">Speakers</router-link>
          <router-link to="/sponsors" class="btn">Sponsors</router-link>
          <router-link to="/contact" class="btn">Contact</router-link>
          <router-link to="/register" class="btn creativeOrange">
            Register
          </router-link>
        </nav>
        <div
          id="hamburger"
          v-on:click="isActive = !isActive"
          v-bind:class="{ active: isActive }"
        >
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </section>
  </header>
</template>
<script>
export default {
  name: "Header",
  data: function() {
    return {
      isActive: false
    };
  }
};
</script>
