<template>
  <header id="unicef-banner">
    <div class="container">
      <div id="exit-wrapper">
        <button
          id="exit"
          v-on:click="toggle = !toggle"
          :value="toggle"
          v-if="toggle"
        >
          &times;
        </button>
      </div>
      <transition name="slide">
        <div v-if="toggle">
          <img src="@/assets/img/unicef.png" class="logo" />
          <div id="unicef-1">
            <div>
              <h3>
                Donate to the victims of Typhoon Ulysses
              </h3>
              <p>
                As stores don't stop, kindness doesn't either. Donate to help
                the victims of typhoon Ulysses now.
              </p>
              <a
                href="https://donate.unicef.ph/campaign/typhoon-rolly"
                class="btn"
                target="_blank"
              >
                Donate now
              </a>
            </div>
            <img
              src="@/assets/img/bubbles.png"
              alt="CreativeFestNOW 2020 pattern"
              id="creativeFestBubble"
            />
          </div>
          <div id="unicef-2"></div>
        </div>
      </transition>
    </div>
  </header>
</template>
<script>
// eslint-disable
export default {
  name: "UNICEF",
  data: function() {
    return {
      toggle: true
    };
  }
};
</script>
