<template>
  <div id="app">
    <UNICEF />
    <Header />
    <router-view />
  </div>
</template>
<script>
import Header from "@/components/Header";
import UNICEF from "@/components/UNICEF";
export default {
  name: "App",
  components: {
    Header,
    UNICEF
  }
};
</script>
